/* Search field */

#r-search-field {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    margin: auto;

    width: 50%;
    color: rgb(66, 66, 66);
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: .5em;
    font-size: 30px;
    font-family: Roboto, Arial, sans-serif;

    -webkit-font-smoothing: antialiased;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 2px 1px;
    box-sizing: border-box;

    transform: translate3d(0,110%,0);
    transition: transform .5s cubic-bezier(.55,0,.1,1);
}

#r-search-field input {
    margin: 0;
    padding: 0;
    width: 80%;
    outline: 0;
    border: 0;
    font-size: 30px;
}

#r-search-field span {
    float: right;
    color: #999;
}

.r-navigating #r-search-field {
    transform: translate3d(0,-100%,0);
}


/* Candidates and target */

.r-navigating .r-candidate {
    background-color: #FFECB3;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 2px 1px;
    padding: 4px;
}

.r-navigating .r-candidate.r-target {
    -webkit-animation: r-target-pulsing 1s infinite;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 2px 4px 2px;
}

@-webkit-keyframes r-target-pulsing {
    0%   {background-color: rgba(255,179,0,.5);}
    50%  {background-color: rgba(255,179,0,1);}
    100% {background-color: rgba(255,179,0,.5);}
}