/* Search field */

#r-search-field {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    text-align: left;
    margin: auto;
    padding: 3px;

    width: 500px;
    background-color: #DFDFDF;
    border-radius: 0 0 3px 3px;
    border: 1px solid #AAAAAB;
    border-top: 0px;

    transform: translate3d(0,-100%,0);
    transition: transform .2s cubic-bezier(.55,0,.1,1);
}

.r-navigating #r-search-field {
    transform: translate3d(0,0,0);
}

#r-search-field > div {
    color: rgb(66, 66, 66);
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;

    -webkit-font-smoothing: antialiased;
}

#r-search-field input {
    margin: 0;
    padding: 0;
    width: 440px;
    outline: 0;
    border: 0;
    font-size: 16px;
    box-shadow: none;
    background-color: #fff;
}

#r-search-field span {
    float: right;
    font-size: 16px;
    color: #999;
}

/* Candidates and target */

.r-navigating .r-candidate {
    background: #FFECB3;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 2px 1px;
    padding: 4px;
}

.r-navigating .r-candidate.r-target {
    -webkit-animation: r-target-pulsing 1s infinite;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 2px 4px 2px;
}

@-webkit-keyframes r-target-pulsing {
    0%   {background-color: rgba(255,179,0,.5);}
    50%  {background-color: rgba(255,179,0,1);}
    100% {background-color: rgba(255,179,0,.5);}
}